<style type='styleSheet'>

.container h3{
   c
}
h1{font-family: Arial, Helvetica, sans-serif;
    color: greenyellow;
    font-size: 28px;
    background-color: #FFF;

}
input[type="text"]{
    width: 250px;
}